<section class="ingredients-page" aria-labelledby="ingredients-page-title">
      <div class="ingredients-page-inner">
        <div class="ingredients-page-grid">
          <div class="ingredients-page-copy">
            <h1 class="ingredients-page-title" id="ingredients-page-title">
              Wirkungsstarke Kombination aus +30 Inhaltsstoffen: vegan &amp; natürlich
            </h1>
            <p class="ingredients-page-sub">
              Unsere Formulierung vereint sorgfältig ausgewählte Inhaltsstoffe. Klicke auf einen Inhaltsstoff, um Details zu sehen.
            </p>
            <div class="ingredients-gallery-wrap">
              <div class="ingredients-gallery" id="ingredients-gallery" aria-label="Inhaltsstoffliste"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="nutrition-facts" aria-label="Nährstoffe und Zutaten">
      <div class="nutrition-inner">
        <div class="nutrition-grid">
          <div class="nutrition-col">
            <h2 class="nutrition-heading">Nährstoffe</h2>

            <div class="nutrition-table-collapsible" id="nutrition-collapsible">
              <div class="nutrition-table-wrap" id="nutrition-table" role="region" aria-label="Nährstofftabelle" tabindex="0">
              <table class="nutrition-table">
                <thead>
                  <tr>
                    <th scope="col">Nährstoffe</th>
                    <th scope="col">pro Tagesdosierung (2 Kapseln)</th>
                    <th scope="col">NRV (%)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="nutrition-group">
                    <th colspan="3">Vitamine</th>
                  </tr>
                  <tr>
                    <th scope="row">Vitamin C</th>
                    <td>40&nbsp;mg</td>
                    <td>50&nbsp;%</td>
                  </tr>
                  <tr>
                    <th scope="row">Vitamin E (natürlich)</th>
                    <td>18&nbsp;mg</td>
                    <td>150&nbsp;%</td>
                  </tr>
                  <tr>
                    <th scope="row">Riboflavin</th>
                    <td>1,4&nbsp;mg</td>
                    <td>100&nbsp;%</td>
                  </tr>
                  <tr>
                    <th scope="row">Niacin</th>
                    <td>20&nbsp;mg</td>
                    <td>125&nbsp;%</td>
                  </tr>
                  <tr>
                    <th scope="row">Pantothensäure</th>
                    <td>18&nbsp;mg</td>
                    <td>300&nbsp;%</td>
                  </tr>
                  <tr>
                    <th scope="row">Vitamin B6</th>
                    <td>7&nbsp;mg</td>
                    <td>500&nbsp;%</td>
                  </tr>
                  <tr>
                    <th scope="row">Biotin</th>
                    <td>150&nbsp;µg</td>
                    <td>300&nbsp;%</td>
                  </tr>
                  <tr>
                    <th scope="row">Folsäure</th>
                    <td>200&nbsp;µg</td>
                    <td>100&nbsp;%</td>
                  </tr>
                  <tr>
                    <th scope="row">Vitamin A</th>
                    <td>800&nbsp;µg</td>
                    <td>100&nbsp;%</td>
                  </tr>
                  <tr>
                    <th scope="row">Beta Carotin</th>
                    <td>0,8&nbsp;mg</td>
                    <td>–</td>
                  </tr>
                  <tr>
                    <th scope="row">Vitamin D</th>
                    <td>10&nbsp;µg</td>
                    <td>200&nbsp;%</td>
                  </tr>

                  <tr class="nutrition-group">
                    <th colspan="3">Mineralstoffe</th>
                  </tr>
                  <tr>
                    <th scope="row">Zink</th>
                    <td>10&nbsp;mg</td>
                    <td>100&nbsp;%</td>
                  </tr>
                  <tr>
                    <th scope="row">Bor</th>
                    <td>1&nbsp;mg</td>
                    <td>–</td>
                  </tr>
                  <tr>
                    <th scope="row">Mangan</th>
                    <td>1&nbsp;mg</td>
                    <td>50&nbsp;%</td>
                  </tr>
                  <tr>
                    <th scope="row">Kupfer</th>
                    <td>1&nbsp;mg</td>
                    <td>100&nbsp;%</td>
                  </tr>
                  <tr>
                    <th scope="row">Jod</th>
                    <td>225&nbsp;µg</td>
                    <td>150&nbsp;%</td>
                  </tr>
                  <tr>
                    <th scope="row">Selen</th>
                    <td>44&nbsp;µg</td>
                    <td>80&nbsp;%</td>
                  </tr>

                  <tr class="nutrition-group">
                    <th colspan="3">Sonstige Stoffe</th>
                  </tr>
                  <tr>
                    <th scope="row">Ashwagandhaextrakt</th>
                    <td>300&nbsp;mg</td>
                    <td>–</td>
                  </tr>
                  <tr class="nutrition-sub">
                    <th scope="row">– Withanolide</th>
                    <td>15&nbsp;mg</td>
                    <td>–</td>
                  </tr>
                  <tr>
                    <th scope="row">gekeimtes Erbsensamenextrakt Pulver</th>
                    <td>100&nbsp;mg</td>
                    <td>–</td>
                  </tr>
                  <tr>
                    <th scope="row">Sägepalmenextrakt</th>
                    <td>50&nbsp;mg</td>
                    <td>–</td>
                  </tr>
                  <tr class="nutrition-sub">
                    <th scope="row">– Fettsäuren</th>
                    <td>12,5&nbsp;mg</td>
                    <td>–</td>
                  </tr>
                  <tr>
                    <th scope="row">Granatapfelextrakt</th>
                    <td>10&nbsp;mg</td>
                    <td>–</td>
                  </tr>
                  <tr class="nutrition-sub">
                    <th scope="row">– Ellagsäure</th>
                    <td>4&nbsp;mg</td>
                    <td>–</td>
                  </tr>
                  <tr>
                    <th scope="row">L‑Lysin HCL</th>
                    <td>100&nbsp;mg</td>
                    <td>–</td>
                  </tr>
                  <tr class="nutrition-sub">
                    <th scope="row">– L Lysin</th>
                    <td>79&nbsp;mg</td>
                    <td>–</td>
                  </tr>
                  <tr>
                    <th scope="row">L‑Cysteine</th>
                    <td>50&nbsp;mg</td>
                    <td>–</td>
                  </tr>
                </tbody>
              </table>
            </div>
              <button class="nutrition-toggle" type="button" aria-expanded="false" aria-controls="nutrition-table">
                Mehr anzeigen <span aria-hidden="true">▾</span>
              </button>
            </div>

            <p class="nutrition-note">
              * Nährstoffbezugswerte (nach VO (EU) Nr. 1169 / 2011)
            </p>
          </div>

          <div class="nutrition-col">
            <h2 class="nutrition-heading">Zutaten</h2>
            <p class="nutrition-ingredients">
              Zutaten: 27,27&nbsp;% Ashwagandha‑Wurzel‑Trockenextrakt (KSM‑66®), Überzugsmittel (Hydroxypropylmethylcellulose), 9,09&nbsp;% gekeimtes Erbsensamenextrakt Pulver (AnaGain™ Nu), L Lysin HCL, Füllstoff (Dicalciumphosphat), 4,54&nbsp;% Sägepalmenfrucht‑Trockenextrakt, 4,54&nbsp;% L‑Cysteine Base, D‑Alpha‑Tocopherylacetat, L‑Ascorbinsäure, Zinkbisglycinat, Nicotinamid, Calcium‑D‑Pantothenat, 0,91&nbsp;% Granatapfelfrucht‑Trockenextrakt, Trennmittel (Magnesiumsalze der Speisefettsäuren und Siliciumdioxid), Natriumborat, Mangangluconat, Pyridoxinhydrochlorid, Beta‑Carotin, Retinylacetat, Cholecalciferol, Kupfersulfat, Riboflavin, Kaliumiodid, Pteroylmonoglutaminsäure, D‑Biotin, Natriumselenit.
            </p>
          </div>
        </div>
      </div>
    </section>
